// overide variables BEFORE Import (https://create-react-app.dev/docs/adding-bootstrap/) (https://getbootstrap.com/docs/4.6/getting-started/theming/#variable-defaults)
// https://getbootstrap.com/docs/5.0/customize/sass/

$body-bg: rgb(0, 0, 0);
$body-color: #111;

$position-values: (
  0: 0,
  10: 10%,
  15:15%,
  20:20%,
  25:25%,
  30:30%,
  35:35%,
  40:40%,
  45:45%,
  50:50%,
  55:55%,
  60:60%,
  65:65%,
  70:70%,
  75:75%,
  80:80%,
  85:85%,
  90:90%,
  95:95%,
  100: 100%
);


$custom-colors: (
  "dark-red": #900
);

// $spacer: 1rem;
// $custom-spacer : $spacer;
// $custom-spacers : (
//   6: $spacer * 4,
//   7: $spacer * 4.5,
//   8: $spacer * 5,
//   9: $spacer * 6,
//   10: $spacer * 7
// );



// $spacers: map-merge($spacers, $custom-spacers);

$spacer: 1rem !default;
     $spacers: () !default;
     // stylelint-disable-next-line scss/dollar-variable-default
     $spacers: map-merge(
       (
         0: 0,
         1: ($spacer * .25),    //4px
         2: ($spacer * .5),     //8px
         3: $spacer,            //16px
         4: ($spacer * 1.5),    //24px
         5: ($spacer * 3),      //48px
         6: ($spacer * 4),      //64px
         7: ($spacer * 5),      //80px
         8: ($spacer * 6.25),   //100px
         9: ($spacer * 7.5),    //120px
         10: ($spacer * 9.375)  //150px
       ),
       $spacers
     );

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
