// overide variables BEFORE Import (https://create-react-app.dev/docs/adding-bootstrap/) (https://getbootstrap.com/docs/4.6/getting-started/theming/#variable-defaults)
// https://getbootstrap.com/docs/5.0/customize/sass/

$body-bg: rgb(0, 0, 0);
$body-color: #111;

$position-values: (
  0: 0,
  10: 10%,
  15:15%,
  20:20%,
  25:25%,
  30:30%,
  35:35%,
  40:40%,
  45:45%,
  50:50%,
  55:55%,
  60:60%,
  65:65%,
  70:70%,
  75:75%,
  80:80%,
  85:85%,
  90:90%,
  95:95%,
  100: 100%
);
$theme-colors: (
  "custom-color": #900
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
